/* stylelint-disable */
@mixin font-face($font-family, $name, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../assets/fonts/#{$name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}
/* stylelint-enable */
